<div>
{#                    <div><label><b>Parameter:</b></label></div>#}
                               {{ form.application_1 }}
                        <select id="cla1" class="selectpicker" data-live-search="true" data-size="5"
                                title="Classification FT assessment factors" onchange="initpara(this)">
                        </select>

                        <select id="para1" class="selectpicker" data-live-search="true" data-size="5"
                                title="Parameter" onchange="last_screening(this)">
                        </select>

</div>

{#<div>#}
{#                    <div><label><b>Parameter2:</b></label></div>#}
{#                               {{ form.application_2 }}#}
{#                        <select id="cla2" class="selectpicker" data-live-search="true" data-size="5"#}
{#                                title="Classification FT assessment factors2" onchange="initpara(this)">#}
{#                        </select>#}
{##}
{#                        <select id="para2" class="selectpicker" data-live-search="true" data-size="5"#}
{#                                title="Parameter2">#}
{#                        </select>#}
{##}
{#</div>#}
{##}
{#<div>#}
{#                    <div><label><b>Parameter3:</b></label></div>#}
{#                               {{ form.application_3 }}#}
{#                        <select id="cla3" class="selectpicker" data-live-search="true" data-size="5"#}
{#                                title="Classification FT assessment factors3" onchange="initpara(this)">#}
{#                        </select>#}
{##}
{#                        <select id="para3" class="selectpicker" data-live-search="true" data-size="5"#}
{#                                title="Parameter3">#}
{#                        </select>#}
{##}
{#</div>#}
{##}
{#<div>#}
{#                    <div><label><b>Parameter4:</b></label></div>#}
{#                               {{ form.application_4 }}#}
{#                        <select id="cla4" class="selectpicker" data-live-search="true" data-size="5"#}
{#                                title="Classification FT assessment factors4" onchange="initpara(this)">#}
{#                        </select>#}
{##}
{#                        <select id="para4" class="selectpicker" data-live-search="true" data-size="5"#}
{#                                title="Parameter4">#}
{#                        </select>#}
{##}
{#</div>#}
{##}
{#<div>#}
{#                    <div><label><b>Parameter5:</b></label></div>#}
{#                               {{ form.application_5 }}#}
{#                        <select id="cla5" class="selectpicker" data-live-search="true" data-size="5"#}
{#                                title="Classification FT assessment factors5" onchange="initpara(this)">#}
{#                        </select>#}
{##}
{#                        <select id="para5" class="selectpicker" data-live-search="true" data-size="5"#}
{#                                title="Parameter5">#}
{#                        </select>#}
{##}
{#</div>#}


