{% extends 'Layout.html' %}
{% load static %}

{% block title %}
    <title>details</title>
    <style>
     th.parameter-header {
      min-width: 300px; /* 根据实际内容调整 */
      white-space: nowrap; /* 防止表头换行 */
    }
     td.parameter-value {
  min-width: 300px; /* 根据内容调整 */
  word-wrap: break-word;
}
     @media (max-width: 768px) {
    td.parameter-value {
    min-width: 300px;
  }
}
    </style>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row mb-5" style="text-align: center">
            <h1>Personalized Fluid Therapy Assistance Recommendation</h1>
        </div>
        <div class="row mb-3">
            <div class="col">
                <span class="badge badge-primary mb-3" style="font-size: larger">Base Information</span>
                <table>
                    <tbody>
                    <tr>
                        <th>IFTP:</th>

                        <td class="align-middle"><a href="/search/getIFTPdetails/{{ queryset.IFTP }}" target="_blank">{{ queryset.IFTP }}</a></td>
                    </tr>
                    <tr>
                        <th>IFTP_subgroup:</th>

                        <td class="align-middle"><a href="/search/getIFTPsubdetails/{{ queryset.IFTP_subgroup }}" target="_blank">{{ queryset.IFTP_subgroup }}</a></td>
                    </tr>
                    <tr>
                        <th>Age:</th>
                        <td class="align-middle">{{ queryset.Age }}</td>
                    </tr>
                    <tr>
                        <th>Gender:</th>
                        <td class="align-middle">{{ queryset.Gender }}</td>
                    </tr>
                    <tr>
                        <th>Race:</th>
                        <td>{{ queryset.Race }}</td>
                    </tr>
                    <tr>
                        <th>BMI:</th>
                        <td>{{ queryset.BMI }}</td>
                    </tr>
                    <tr>
                        <th>Disease:</th>
                        <td>{{ queryset.Disease }}</td>
                    </tr>
                    <tr>
                        <th>Comorbidity:</th>
                        <td>{{ queryset.Comorbidity }}</td>
                    </tr>

                    </tbody>
                </table>

            </div>
            <div class="col">
                <span class="badge badge-primary mb-3" style="font-size: larger">Surgery Information</span>
                <table>
                    <tbody>
                    <tr>
                        <th>Application for Surgery Type:</th>
                        <td class="align-middle">{{ queryset.surgery_type }}</td>
                    </tr>
                    <tr>
                        <th>Surgical Site:</th>
                        <td class="align-middle">{{ queryset.surgical_site }}</td>
                    </tr>
                    <tr>
                        <th>Surgical Approach:</th>
                        <td>{{ queryset.Surgical_approach }}</td>
                    </tr>
                    <tr>
                        <th>ASA Physical Status:</th>
                        <td>{{ queryset.ASA_physical_status }}</td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>


        <hr/>
        <div class="row mt-3">
            <div class="col-3">
                <span class="badge badge-primary" style="font-size: larger">Period of fluid therapy</span>
                <table>
                    <tbody>
                    <tr>
                        <th class="mr-4">Parameter1:</th>
                        <td class="parameter-value">{{ queryset.Parameter1 }}</td>
                    </tr>
                    <tr>
                        <th>Condition1:</th>
                        <td class="parameter-value">{{ queryset.Condition1 }}</td>
                    </tr>


                    <tr>
                        <th class="mr-4">Parameter2:</th>
                        <td class="parameter-value">{{ queryset.Parameter2 }}</td>
                    </tr>
                    <tr>
                        <th>Condition2:</th>
                        <td class="parameter-value">{{ queryset.Condition2 }}</td>
                    </tr>



                    <tr>
                        <th class="mr-4">Parameter3:</th>
                        <td class="parameter-value">{{ queryset.Parameter3 }}</td>
                    </tr>
                    <tr>
                        <th>Condition3:</th>
                        <td class="parameter-value">{{ queryset.Condition3 }}</td>
                    </tr>



                    <tr>
                        <th class="mr-4">Parameter4:</th>
                        <td class="parameter-value">{{ queryset.Parameter4 }}</td>
                    </tr>
                    <tr>
                        <th>Condition4:</th>
                        <td class="parameter-value">{{ queryset.Condition4 }}</td>
                    </tr>


                    <tr>
                        <th class="mr-4">Parameter5:</th>
                        <td class="parameter-value">{{ queryset.Parameter5 }}</td>
                    </tr>
                    <tr>
                        <th>Condition5:</th>
                        <td class="parameter-value">{{ queryset.Condition5 }}</td>
                    </tr>





                    </tbody>
                </table>
            </div>

        </div>
        <hr/>


        <div class="row mb-3">
            <div class="col">
                <span class="badge badge-primary mb-3" style="font-size: larger">FT Recommendation</span>
                <table>
                    <tbody>
                    <tr>
                        <th class="mr-4">Liquid Treatment:</th>
                        <td class="align-middle">{{ queryset.liquid_treatment }}</td>
                    </tr>
                    <tr>
                        <th>Fluid Name:</th>
                        <td class="align-middle">{{ queryset.Fluid_name }}</td>
                    </tr>
                    <tr>
                        <th>Fluid Type:</th>
                        <td>{{ queryset.Fluid_type }}</td>
                    </tr>
                    <tr>
                        <th>Dose:</th>
                        <td>{{ queryset.Dose }}</td>
                    </tr>
                    <tr>
                        <th>Rate:</th>
                        <td>{{ queryset.Rate }}</td>
                    </tr>
                    <tr>
                        <th>Duration:</th>
                        <td>{{ queryset.Duration }}</td>
                    </tr>
                    <tr>
                        <th>Monitoring Parameters:</th>
                        <td>{{ queryset.Monitoring_Parameters }}</td>
                    </tr>
                    <tr>
                        <th>Monitoring Frequency:</th>
                        <td>{{ queryset.Monitoring_frequency }}</td>
                    </tr>
                    <tr>
                        <th>Use of vasopressors:</th>
                        <td>{{ queryset.Use_of_vasopressors }}</td>
                    </tr>
                    <tr>
                        <th>Blood transfusion:</th>
                        <td>{{ queryset.Blood_transfusion }}</td>
                    </tr>
                    <tr>
                        <th>Additional information:</th>
                        <td>{{ queryset.Additional_information }}</td>
                    </tr>
                    <tr>
                        <th>Preoperative FT protocol:</th>
                        <td>{{ queryset.Preoperative_fluid_therapy_protocol }}</td>
                    </tr>
                    <tr>
                        <th>Intraoperative FT protocol:</th>
                        <td>{{ queryset.Intraoperative_fluid_therapy_protocol }}</td>
                    </tr>
                    <tr>
                        <th>Postoperative FT protocol:</th>
                        <td>{{ queryset.Postoperative_fluid_therapy_protocol }}</td>
                    </tr>
                    <tr>
                        <th>Other information on FT:</th>
                        <td>{{ queryset.Other_info_fluid_therapy_protocol }}</td>
                    </tr>


                    </tbody>
                </table>
            </div>


        </div>
        <hr/>


        <div class="row mb-3">
            <div class="col">
                <span class="badge badge-primary mb-3" style="font-size: larger">Outcomes</span>
                <table>
                    <tbody>
                    <tr>
                        <th class="parameter-header">Complications:</th>
                        <td class="align-middle">{{ queryset.Complications }}</td>
                    </tr>
                    <tr>
                        <th class="parameter-header">Complications_Result:</th>
                        <td class="align-middle">{{ queryset.Result1 }}</td>
                    </tr>
                    <tr>
                        <th class="parameter-header">Complications_Statistics:</th>
                        <td class="align-middle">{{ queryset.Statictics1 }}</td>
                    </tr>



                    <tr>
                        <th class="parameter-header">length of hospital stay:</th>
                        <td class="align-middle">{{ queryset.length_of_hospital_stay }}</td>
                    </tr>
                    <tr>
                        <th class="parameter-header">length of hospital stay_Result:</th>
                        <td class="align-middle">{{ queryset.Result2 }}</td>
                    </tr>
                    <tr>
                        <th class="parameter-header">length of hospital stay_Statistics:</th>
                        <td class="align-middle">{{ queryset.Statictics2 }}</td>
                    </tr>



                    <tr>
                        <th class="parameter-header">ICU occupancy:</th>
                        <td>{{ queryset.ICU_occupancy }}</td>
                    </tr>
                    <tr>
                        <th class="parameter-header">ICU occupancy_Result:</th>
                        <td class="align-middle">{{ queryset.Result3 }}</td>
                    </tr>
                    <tr>
                        <th class="parameter-header">ICU occupancy_Statistics:</th>
                        <td class="align-middle">{{ queryset.Statictics3 }}</td>
                    </tr>
                    <!--
                    <tr>
                        <th>test results:</th>
                        <td>{{ queryset.test_results }}</td>
                    </tr>
                    <tr>
                        <th>vital signs:</th>
                        <td>{{ queryset.vital_signs }}</td>
                    </tr>
                    <tr>
                        <th>other outomes:</th>
                        <td>{{ queryset.other_outomes }}</td>
                    </tr>
                    -->
                    <tr>
                        <th>Key_points:</th>
                        <td>{{ queryset.Key_points }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>


        </div>
        <hr/>

        <div class="row mb-3">

            <div class="col-3">
                <span class="badge badge-primary " style="font-size: larger">Grades of Evidence</span>
            </div>
            <div class="col-3">
                <span>{{ queryset.Grades_of_Evidence }}</span>
            </div>


            <div class="col-3">
                <span class="badge badge-primary " style="font-size: larger">Levels of Recommendation</span>
            </div>
            <div class="col-3">
                <span>{{ queryset.Levels_of_Recommendation }}</span>
            </div>
        </div>


        <div class="row mb-5">
                        <div class="col-2">
                <span class="badge badge-primary " style="font-size: larger">Reference</span>
            </div>
            <div class="col-6">
                <span>{{ queryset.Reference }}</span>
            </div>
        </div>
    </div>

    {#        <p>{{ queryset.id }}</p>#}
    {#        <p>{{ queryset.year }}</p>#}
    {#<p>{{ queryset.pmid }}</p>#}

{% endblock %}