{% extends 'Layout.html' %}
{% load static %}


{% block title %}
    <title>Home</title>
    <style>
        .card-title {
            color: black;
            text-align: center;
            font-size: 1rem; /* 或者更大，根据需要调整 */
        }

        /* 确保所有卡片的高度一致 */
        .card-cover {
            height: 100%; /* 使用百分比或具体的像素值 */
        }

        .tags-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 15px; /* 调整标签与图片之间的间距 */
        }

        .tag-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 8px; /* 调整标签之间的间距 */
            text-decoration: none; /* 移除链接下划线 */
            color: #000; /* 设置文字颜色，根据需要调整 */
            font-size: 1rem;
        }

        .tag-image {
            width: 60px;       /* 设置图标宽度 */
            height: 60px;      /* 设置图标高度 */
            margin-right: 8px; /* 图标和文字间距 */
            object-fit: contain; /* 保持图标比例 */
        }

        .image-container {
            /* 如果需要，这里可以添加样式 */
        }
    </style>
{% endblock %}


{% block content %}
{#    <div class="container  py-5">#}
{#    </div>#}
    <div class="container py-5">
        <div class="text-center mb-3">
            <h3>Welcome to</h3>
            <h3>Perioperative Fluid Therapy Knowledge Base (PFTKB)</h3>
        </div>
        <div class="mt-4">
            <p style="text-indent:2em;" class="text-justify">
                Perioperative Fluid Therapy Knowledge Base (PFTKB) is a meticulously designed digital platform dedicated to advancing knowledge dissemination in perioperative intravenous fluid management. This comprehensive repository consolidates all peer-reviewed clinical studies related to perioperative fluid therapy indexed in PubMed through March 1, 2025.
            </p>
            <p style="text-indent:2em;" class="text-justify">
                As a critical component of surgical care, fluid therapy presents complex challenges stemming from patient heterogeneity, multifaceted clinical scenarios, and limitations in practitioner experience. PFTKB addresses these complexities by providing an integrated knowledge ecosystem that synthesizes demographic data, surgical variables, and fluid management protocols. Our platform serves as both an evidence-based decision support system and a collaborative hub for clinical knowledge exchange.
            </p>
            <p style="text-indent:2em;" class="text-justify">
                Guided by the principles of intelligent medicine，the PFTKB features a Intelligent  matching tool that enables users to input case-specific information and retrieve targeted research insights. This provision affords medical professionals a tailored reference resource. Additionally, PFTKB offers multidimensional data visualization tools for comparative outcome analysis. Users can procure information most pertinent to their needs. We steadfastly believe that it is through the active exchange and interaction of information that true progress in medicine is galvanized.
            </p>
        </div>

        <div class="image-container text-center">
            <img src="{% static 'img/process1.jpg' %}" style="max-width: 60%; height: auto;">
        </div>

        <div class="mt-4">
            <p style="text-indent:2em;" class="text-justify pl-0">
                    Furthermore, our platform harbors immense potential, with an aspiration to proffer formidable decision support tools in the future. We aim to offer customized research references to different user groups including medical staff, patients, and the public, predicated on various clinical parameters.
                    We extend a warm welcome to all visitors, hoping that you garner substantial insights from our website. For inquiries regarding data collaboration or feature requests, please contact our research coordination team. Your feedback and suggestions are highly prized. We anticipate offering more precise and personalized services in the future.
            </p>
        </div>




        <!-- Applications -->
        <div class="row mt-3">  <!-- 添加底部间距 -->
            <div class="col-12 text-left pl-0">
                <h5 class="m-0">Applications</h5>
            </div>
        </div>
        <div class="mt-3">
            <div style="text-indent:2em;" class="text-justify">
                <p>The PFTKB serves as a specialized knowledge database designed for knowledge-guided fluid therapy (FT) decision support. It facilitates the exchange of decision-making parameters for PFT and offers personalized recommendations for perioperative fluid management based on individual patient information. Within this platform, assessment parameters are systematically categorized into five groups according to their application in FT, and 839 personalized PFT regimens across 14 surgical categories are organized based on individualized characteristics, as illustrated in the accompanying graph.  </p>
            </div>
        </div>

        <!-- 双列内容 -->
        <div class="row">
            <!-- 左侧列：标签链接 -->
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <h5 class="mb-0 text-center">Application of PFT assessment parameters</h5>
                </div>

                <div class="tags-container text-center">
                    <a href="/home/getselect/1" class="tag-link" target="_blank">
                        <img src="{% static 'img/tag1.png' %}" class="tag-image">
                        Fluid volume estimation
                    </a>
                    <a href="/home/getselect/2" class="tag-link" target="_blank">
                        <img src="{% static 'img/tag2.png' %}" class="tag-image">
                        Fluid type estimation
                    </a>
                    <a href="/home/getselect/3" class="tag-link" target="_blank">
                        <img src="{% static 'img/tag3.png' %}" class="tag-image">
                        Fluid therapy rate assessment
                    </a>
                    <a href="/home/getselect/4" class="tag-link" target="_blank">
                        <img src="{% static 'img/tag4.png' %}" class="tag-image">
                        Transfusion assessment
                    </a>
                    <a href="/home/getselect/5" class="tag-link" target="_blank">
                        <img src="{% static 'img/tag5.png' %}" class="tag-image">
                        Use of vasoactive agents assessment
                    </a>
                </div>
            </div>

            <!-- 右侧列：图片 -->
            <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <h5 class="mb-0 text-center">Application of PFT regimens</h5>
                </div>

                <div class="image-container text-center">
                    <img src="{% static 'img/phase.jpg' %}" class="img-fluid" style="max-width: 70%; height: auto;">
                </div>
            </div>
    </div>
</div>
</div>








     <div class="container mt-3">
        <div class="text-left">
            <h5>News</h5>
        </div>
    </div>

    <div class="container mt-3">
        <div style="text-indent:2em;" class="text-justify">
            <p> As of March 1, 2025, the PFTKB platform features knowledge data from 402 original clinical studies sourced from PubMed, with a total sample size of 87,176 participants. The platform has identified and categorized 145 PFT parameters into eleven distinct types, as depicted in the diagram below.  Additionally, the PFTKB data platform provides 2,738 personalized FT regimens tailored to 14 different types of surgical patients, utilizing specific patient information, as depicted in the Sankey diagram.  </p>
        </div>
        <div class="row mt-4">
             <!-- 柱状图（右侧，宽度 50%） -->
            <div class="col-md-6">
                <div id="charts_bar" style="height: 600px; width: 100%;"></div>
            </div>

            <!-- 桑基图（左侧，宽度 50%） -->
            <div class="col-md-6">
                <div id="charts_sankey" style="height: 600px; width: 100%;"></div>
            </div>
        </div>
    </div>





    {#learn more#}
    <div class="container mt-2">
        <div class="text-left">
            <h5>Related Links</h5>
        </div>
    </div>
    <div class="container" id="custom-cards">
        <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-4"> <!-- 注意这里的修改 -->
            <div class="col">
                <div class="d-flex flex-column p-4 pb-2 text-white text-shadow-1" style="height: 100%;">
                    <div class="mt-auto w-100 text-center">
                        <a href="https://www.fluidacademy.org/" target="_blank">
                            <img src="{% static 'img/1.jpg' %}" class="card-img">
                            <h5 class="mt-auto card-title">The International Fluid Academy</h5>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column p-4 pb-2 text-white text-shadow-1" style="height: 100%;">

                    <div class="mt-auto w-100 text-center">
                        <a href="https://www.nice.org.uk/search?q=Intravenous+fluid+therapy+Intravenous+fluid+therapy+in+adults+in+hospital"
                           target="_blank">
                            <img src="{% static 'img/2.jpg' %}" class="card-img">
                            <h5 class="mt-1 card-title">Intravenous fluid therapy in adults in hospital</h5>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column p-4 pb-2 text-white text-shadow-1" style="height: 100%;">

                    <div class="mt-auto w-100 text-center">
                        <a href="https://www.ncbi.nlm.nih.gov/books/NBK563449/?report=reader" target="_blank">
                            <img src="{% static 'img/3.jpg' %}" class="card-img">
                            <h5 class="mt-1 card-title">Intravenous fluid therapy in children and young people</h5>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column p-4 pb-2 text-white text-shadow-1" style="height: 100%;">

                    <div class="mt-auto w-100 text-center">
                        <a href="https://pubmed.ncbi.nlm.nih.gov/" target="_blank">
                            <img src="{% static 'img/4.jpg' %}" class="card-img">
                            <h3 class="mt-1 card-title">PubMed</h3>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block special_js %}
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script>
        {#var mychart = echarts.init(document.getElementById('charts_pie'));#}


var mychart1 = echarts.init(document.getElementById('charts_bar'));
var option1 = {
    title: {
        text: 'Fluid therapy assessment parameters'
    },
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        }
    },
    legend: {
        data: ['preoperative', 'intraoperative', 'postoperative'],
        top: '5%'
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        type: 'value'
    },
    yAxis: {
        type: 'category',
        data: ['Treatment information', 'Physical examinations', 'Intake factors', 'Insensible losses', 'Complications', 'clinical signs', 'Other factors', 'Vital signs', 'volume loss factors', 'Laboratory tests', 'Physiological factors', 'Hemodynamic parameters']
    },
    series: {{ res|safe }}
};
        mychart1.clear();
        mychart1.setOption(option1);








// 桑基图初始化
var sankeyChart = echarts.init(document.getElementById('charts_sankey'));
var sankeyOption = {
    title: {
        text: 'Fluid therapy regimens for surgeries'
    },
    tooltip: {
        trigger: 'item',
        triggerOn: 'mousemove'
    },
    series: [{
        type: 'sankey',
        nodeWidth: 15,
        nodeGap: 18,
        layout: 'none',
        emphasis: {
            focus: 'adjacency'
        },
        nodeAlign: 'left',
        layoutIterations: 0,
        data: [
 {'name': 'Abdominal Surgery'},
 {'name': 'Cardiac surgery'},
 {'name': 'Orthopedic surgery'},
 {'name': 'Urological surgery'},
 {'name': 'Gynecological surgery'},
 {'name': 'Thoracic surgery'},
 {'name': 'Neurosurgery'},
 {'name': 'Vascular Surgery'},
 {'name': 'Obstetric surgery'},
 {'name': 'Critically ill surgery'},
 {'name': 'Head and neck surgery'},
 {'name': 'Other surgery'},
 {'name': 'Pediatric surgery'},
 {'name': 'Bariatric surgery'},
 {'name': 'preoperative'},
 {'name': 'intraoperative'},
 {'name': 'postoperative'},
],

links: [
 {'source': 'Abdominal Surgery', 'target': 'preoperative', 'value': 91},
 {'source': 'Abdominal Surgery', 'target': 'intraoperative', 'value': 854},
 {'source': 'Abdominal Surgery', 'target': 'postoperative', 'value': 214},
 {'source': 'Thoracic surgery', 'target': 'preoperative', 'value': 10},
 {'source': 'Thoracic surgery', 'target': 'intraoperative', 'value': 105},
 {'source': 'Thoracic surgery', 'target': 'postoperative', 'value': 46},
 {'source': 'Cardiac surgery', 'target': 'preoperative', 'value': 23},
 {'source': 'Cardiac surgery', 'target': 'intraoperative', 'value': 259},
 {'source': 'Cardiac surgery', 'target': 'postoperative', 'value': 192},
 {'source': 'Neurosurgery', 'target': 'preoperative', 'value': 11},
 {'source': 'Neurosurgery', 'target': 'intraoperative', 'value': 97},
 {'source': 'Neurosurgery', 'target': 'postoperative', 'value': 33},
 {'source': 'Urological surgery', 'target': 'preoperative', 'value': 19},
 {'source': 'Urological surgery', 'target': 'intraoperative', 'value': 147},
 {'source': 'Urological surgery', 'target': 'postoperative', 'value': 33},
 {'source': 'Orthopedic surgery', 'target': 'preoperative', 'value': 54},
 {'source': 'Orthopedic surgery', 'target': 'intraoperative', 'value': 195},
 {'source': 'Orthopedic surgery', 'target': 'postoperative', 'value': 16},
 {'source': 'Vascular Surgery', 'target': 'preoperative', 'value': 4},
 {'source': 'Vascular Surgery', 'target': 'intraoperative', 'value': 45},
 {'source': 'Vascular Surgery', 'target': 'postoperative', 'value': 15},
 {'source': 'Critically ill surgery', 'target': 'preoperative', 'value': 16},
 {'source': 'Critically ill surgery', 'target': 'intraoperative', 'value': 16},
 {'source': 'Critically ill surgery', 'target': 'postoperative', 'value': 16},
 {'source': 'Obstetric surgery', 'target': 'preoperative', 'value': 18},
 {'source': 'Obstetric surgery', 'target': 'intraoperative', 'value': 42},
 {'source': 'Obstetric surgery', 'target': 'postoperative', 'value': 0},
 {'source': 'Pediatric surgery', 'target': 'preoperative', 'value': 0},
 {'source': 'Pediatric surgery', 'target': 'intraoperative', 'value': 13},
 {'source': 'Pediatric surgery', 'target': 'postoperative', 'value': 0},
 {'source': 'Gynecological surgery', 'target': 'preoperative', 'value': 43},
 {'source': 'Gynecological surgery', 'target': 'intraoperative', 'value': 110},
 {'source': 'Gynecological surgery', 'target': 'postoperative', 'value': 9},
 {'source': 'Head and neck surgery', 'target': 'preoperative', 'value': 0},
 {'source': 'Head and neck surgery', 'target': 'intraoperative', 'value': 37},
 {'source': 'Head and neck surgery', 'target': 'postoperative', 'value': 10},
 {'source': 'Bariatric surgery', 'target': 'preoperative', 'value': 0},
 {'source': 'Bariatric surgery', 'target': 'intraoperative', 'value': 7},
 {'source': 'Bariatric surgery', 'target': 'postoperative', 'value': 0},
 {'source': 'Other surgery', 'target': 'preoperative', 'value': 2},
 {'source': 'Other surgery', 'target': 'intraoperative', 'value': 10},
 {'source': 'Other surgery', 'target': 'postoperative', 'value': 17},
],
        lineStyle: {
            color: 'source',
            curveness: 0.5
        },
        label: {
            color: '#333',
            fontSize: 12
        }
    }]
};

sankeyChart.setOption(sankeyOption);
    </script>


{% endblock %}

